apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
type: Opaque
data:
  # Senha: minhasenha123 (em base64)
  # Para gerar no terminal: echo -n "minhasenha123" | base64
  password: bWluaGFzZW5oYTEyMw==